# NodeJS #
.nyc_output/
coverage/
node_modules/
npm-debug.log
test/*.log
uploads/

# VS Code #
.vscode

# docker-compose #
.env

# ZIP archives #
# *.zip

# Database #
stigman-data/
utl32k.sql

delivery.sh
state.json
