.gitignore

# NodeJS #
.nyc_output/
coverage/
node_modules/
npm-debug.log
test/*.log
uploads/

# VS Code #
.vscode

# docker-compose #
.env

# ZIP archives #
# *.zip

# Database #
stigman-data/
utl32k.sql

delivery.sh
docker/stigman-init/stigs/*
**.pem
api/source/tls/mysql/init-tls-user.sql
api/source/tls/mysql/tls.cnf
api/source/tls/mysql2/init-tls-user.sql
api/source/tls/mysql2/tls.cnf
clients/extjs/js/keycloak.json
.gitignore
newman/
/docs/_build/doctrees/
