'use strict';

const writer = require('../utils/writer.js')
const config = require('../utils/config')
{{#operations}}
const {{classname}} = require(`../{{implFolder}}/${config.database.type}/{{classname}}Service`)
{{#operation}}

module.exports.{{nickname}} = async function {{nickname}} (req, res, next) {
  {{#allParams}}
  let {{paramName}} = req.swagger.params['{{baseName}}'].value
  {{/allParams}}
  try {
    let response = await {{classname}}.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}, req.userObject)
    writer.writeJson(res, response)
  }
  catch(err) {
    writer.writeJson(res, err)
  }
}
{{/operation}}
{{/operations}}
