figcaption {
  padding-top: 10px;
  font-size: 85%;
  font-style: italic;
}

.tight-table td {
    white-space:normal !important;
}

.wy-nav-content {
    width: 100%;
    max-width: 1100px !important;
}


.document a:visited {
  color: #2980b9;
}

.document a {
  font-weight: bold;
}


h4 {
  font-size: 100%;
}

p.rubric {
  margin-bottom: 12px;
  font-size: 125%;
}

p.rubric2 {
  margin-bottom: 12px;
  font-size: 150%;
}

p.rubric3 {
  margin-bottom: 12px;
  font-size: 100%;
}

p.rubric-big {
  margin-bottom: 12px;
  font-size: 200%;
}


/* .rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  font-weight: 700;
  font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
} */



/* 

a:visited {
  color: #2980b9;
}
.wy-menu-vertical a:visited {
	color: #d9d9d9
}

.wy-side-nav-search>a:visited {
	color: #d9d9d9
} */


/* a {
  font-weight: bold;
} */

/* [1] The container */
/* .img-hover-zoom { */
    /* height: 300px !important; [1.1] Set it as per your need */
    /* scale: 25% !important; [1.1] Set it as per your need */
    /* overflow: hidden; [1.2] Hide the overflowing of child elements */
  /* } */
  
  /* [2] Transition property for smooth transformation of images */
  /* .img-hover-zoom img {
    transform-origin: 0 0;
    transition: transform .5s ease;
  } */
  
  /* [3] Finally, transforming the image when container gets hovered */
  /* .img-hover-zoom:hover img {
    transform: scale(2.2);
  } */

  