Ext.ns('STIGMAN')

STIGMAN.Env = {
    version: '1.0.0-beta',
    apiBase: "${STIGMAN_CLIENT_API_BASE}" || "../api",
    commit: {
        branch: "${COMMIT_BRANCH}" || "na",
        sha: "${COMMIT_SHA}" || "na",
        tag: "${COMMIT_TAG}" || "na",
        describe: "${COMMIT_DESCRIBE}" || "na"
    }
}
