Ext.ns('STIGMAN')

STIGMAN.Env = {
    apiBase: "${STIGMAN_CLIENT_API_BASE}" || "../api",
    commitBranch: "${COMMIT_BRANCH}" || "unknown",
    commitSha: "${COMMIT_SHA}" || "unknown",
    commitTag: "${COMMIT_TAG}" || "unknown",
    version: "3.0.0-beta.1"
}
