.x-grid3-hd .sm-question-circle {
	color: hsl(0deg 0% 60%);
	margin-left: 3px;
	font-size: 13px;
}
.x-form-item-label .sm-question-circle {
	color: hsl(0deg 0% 60%);
	margin-left: 3px;
	font-size: 13px;
}
.x-form-field-wrap.sm-review-item-disabled .x-form-trigger.sm-review-trigger {
	visibility: hidden;
}
.x-form-field-wrap.x-form-field-trigger-wrap .x-form-field.sm-review-combo-input[disabled] {
	color: #000000;
	background-color: transparent;
	cursor: auto;
}
.sm-home-widget-bwrap {
	overflow: auto;
	height: 338px;
	margin-right: 0px;
}
.x-progress-inner {
    background-image: none;
    background-color:  hsl(0deg 0% 95%);
}
.x-progress-bar {
	background-image: none;
	background-color: #bdd0e5;
	border: none;
}
.x-progress-text {
	color: transparent;
}
.x-progress-text.x-progress-text-back {
	color: hsl(0deg 0% 33%);
}
.sm-cell-thermometer-bg {
	background-color: #f5f5f5;
	margin-left: 34px;
}
.sm-cell-thermometer-text {
	float: left;
	width: 30px;
}
.sm-cell-mercury-low {
	background-color: #c3deab;
}
.sm-cell-mercury-medium {
	background-color: hsl(230deg 40% 86%);
}
.sm-cell-mercury-high {
	background-color: #eba795;
}


/* Dialog buttons*/
.x-panel-btns td.x-toolbar-cell {
    padding: 0px 18px 10px 0px;
}

.sm-dialog-panel-text {
	padding-bottom: 10px;
	font: 10px Open Sans, Open Sans, helvetica, sans-serif;
	color: #000000;
	word-wrap: break-word;
}
.sm-dialog-panel-content {
	padding-bottom: 10px;
	font: 11px/13px sans-serif;
	color: #000000;
	word-wrap: break-word;
}
.sm-dialog-panel-callout {
	margin-top: 20px;
	padding: 10px;
	font: 11px/13px sans-serif;
	background-color: #e6e6e6;
	color: #000000;
	word-wrap: break-word;
}
.sm-dialog-panel-content ul {
	list-style-type: square;
	display: list-item;
	margin-left: 2em;
}
.ext-gecko .x-btn button, .ext-webkit .x-btn button, .x-btn button {
	/* padding-left: 10px;
    padding-right: 10px; */
	font-weight: 600;
}
.sm-export-sprite {
	font: 10px Open Sans,helvetica, sans-serif;
	/* color: hsl(0deg 0% 98%) !important; */
	position: relative;
	top: -1px;
	border-radius:  12px;
	padding: 0px 5px 1px 5px !important;
	user-select: none;
}
.sm-export-sprite-high {
	background-color: #ddd;
}

.sm-export-sprite-medium {
	background-color: #ddd;
}
.sm-export-sprite-low {
	background-color: #c3deab;
}

.x-form-display-field {
    padding-top: 3px;
}
.ext-webkit .x-small-editor .x-form-field {
    font: normal 10px Open Sans, helvetica, sans-serif;
}
.x-grid-group-collapsed .x-grid-group-hd div.x-grid-group-title {
	background-image: url(../img/tree-elbow-closed.svg);
    background-position: 3px 7px;
}
.x-grid-group-hd div.x-grid-group-title {
    background-image: url(../img/tree-elbow-minus.svg);
    background-position: 3px 7px;
}
.x-grid3-row-collapsed .x-grid3-row-expander {
    background-image: url(../img/tree-elbow-closed.svg);
    background-position: 3px 4px;
}
.x-grid3-row-expanded .x-grid3-row-expander {
    background-image: url(../img/tree-elbow-minus.svg);
    background-position: 3px 4px;
}
.sm-toolbar-legend-box {
	width: 20px;
	height: 10px;
	border: 1px solid #c2c2c2;
	}
	
.x-tree-lines .x-tree-elbow-end{
	background-image: none;
}
.x-tree-lines .x-tree-elbow-line{
	background-image: none;
}
.x-tree-lines .x-tree-elbow{
	background-image: none;
}
.x-tree-lines .x-tree-elbow-minus{
	background-image: url(../img/tree-elbow-minus.svg);
	background-position: 3px 4px;
}

.x-tree-lines .x-tree-elbow-end-minus{
	background-image: url(../img/tree-elbow-minus.svg);
	background-position: 3px 4px;
}
.x-tree-lines .x-tree-elbow-plus{
	background-image: url(../img/tree-elbow-closed.svg);
	background-position: 3px 4px;
}

.x-tree-lines .x-tree-elbow-end-plus{
	background-image: url(../img/tree-elbow-closed.svg);
	background-position: 3px 4px;
}

.sm-drop {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold;
	color: #bbb;
}

body {
    font:normal 11px Open Sans,Open Sans,verdana,helvetica;
}

.sm-grid-result-sprite {
	font: bold 11px/13px Open Sans,helvetica, sans-serif;
	position: relative;
	top: 0px;
	background-color: hsla(0, 10%, 96%, 1);
	border: 1px solid hsla(0, 0%, 76%, 1);
	border-radius: 3px;
	margin-left: 0px;
	user-select: none;
	max-width: 20px;
	margin:  0 auto;
}

.sm-result-pass {
	color: green;
    text-align: center;
}

.sm-result-fail {
	color: #d74400;
	text-align: center;
}
.sm-result-na {
	color: grey;
	text-align: center;
}
.sm-result-nr {
    color: hsla(0, 10%, 96%, 1);
    background-color: #d74400;
    text-align: center;
}

.sm-grid-sprite {
	font: bold 11px/13px Open Sans,helvetica, sans-serif;
	position: relative;
	top: 1px;
	background-color: #ffffff;
	border: 1px solid hsla(0, 0%, 76%, 1);
	border-radius: 3px;
	margin-left: 0px;
	user-select: none;
}

.sm-content-sprite {
	color: #fcfcfc;
	font: bold 14px Open Sans,helvetica, sans-serif;
	position: relative;
	top: -3px;
	background-color: #6f93db;
	padding: 1px 4px 1px 4px;
	border:  1px solid hsla(0, 0%, 76%, 1);;
	border-radius: 3px;
	margin-left: 12px;
	user-select: none;
}

.sm-navtree-sprite {
	color: #fcfcfc !important;
	font: bold 9px Open Sans,helvetica, sans-serif;
	position: relative;
	top: -1px;
	background-color: #6f93db;
	padding: 1px 4px 2px 4px;
	border-radius:  3px;
	margin-left: 11px;
	user-select: none;
}


.sm-severity-high {
	color: #d74400;
	background-color: hsla(0, 10%, 96%, 1);
	padding: 0px 2px 0px 2px;
}
.sm-severity-medium {
	color: #3366cc;
	background-color: hsla(0, 10%, 96%, 1);
	padding: 0px 2px 0px 2px;
}
.sm-severity-low {
	 color: #008000;
	background-color: hsla(0, 10%, 96%, 1);
	 padding: 0px 2px 0px 2px;

}
.sm-home-widget-image-text-wrap {
	float: left;
	margin-right: 10px;
}
.sm-home-widget-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: 12px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}
.sm-home-widget-text a {
	color: #000000;
}
.sm-home-widget-header-1 {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}

.sm-empty-cell {
	font-style: italic;
	color: #bbb;
}
.sm-empty-cell::after {
	content: "No value";
}
.sm-round-panel .ext-mb-content {
	font-family: Open Sans, verdana, sans-serif;
}
.sm-bare-button .x-btn-tl, .sm-bare-button .x-btn-tr, .sm-bare-button .x-btn-tc, .sm-bare-button .x-btn-ml, .sm-bare-button .x-btn-mr, .sm-bare-button .x-btn-mc, .sm-bare-button .x-btn-bl, .sm-bare-button .x-btn-br, .sm-bare-button .x-btn-bc {
    background-image: none;
}
.x-fieldset {
    border-radius: 3px;
}
.ext-el-mask {
    background-color: #666;
}
.sm-round-panel .x-window-header {
	color: #111;
    font-weight: bold;
    font-size: 11px;
    font-family: Open Sans,Open Sans,verdana,sans-serif;
   	background-color: #ccc;
    background-image: none;
    padding: 6px 8px 5px 8px;
}
.x-window-plain .x-window-mc {
    border: 0px solid;
}
.x-window-plain .x-window-body {
    border: 0px solid;
    background: transparent!important;
}
.x-window-tl {
	background-image: none;
}
.x-window-tc {
	background-image: none;
}
.x-window-tr {
	background-image: none;
}
.x-window-ml {
	background-image: none;
}
.x-window-mc {
	background-image: none;
}
.x-window-mr {
	background-image: none;
}
.x-window-bl {
	background-image: none;
}
.x-window-bc {
	background-image: none;
}
.x-window-br {
	background-image: none;
}
.sm-review-form, .sm-review-footer {
	background-color: #f0f0f0;
}
.x-panel-header {
    color: #111;
}
.x-tab-panel-body {
    border-color: #d0d0d0;
    background-color: transparent;
}
.x-tab-panel-noborder .x-tab-panel-header-noborder {
    border-width: 0 0 0px 0;
}
.x-tab-strip .x-tab-strip-over span.x-tab-strip-text {
	opacity: 1
}
.x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
	opacity: .75;
	background-position: 0 4px;
}
.x-tab-strip .x-tab-strip-active span.x-tab-strip-text {
	opacity: 1;
	color: #111;
	background-position: 0 4px;
}
/* START tab styles*/
.x-tab-strip-top .x-tab-strip-over .x-tab-right, .x-tab-strip-top .x-tab-strip-over .x-tab-left, .x-tab-strip-top .x-tab-strip-over .x-tab-strip-inner {
	background-color:#ddd
}
.x-tab-strip-top .x-tab-strip-active .x-tab-right, .x-tab-strip-top .x-tab-strip-active .x-tab-left, .x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
	background-color:#e8e8e8
}
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{
	background-image: none;
	background-color: #ccc;
	border-top-left-radius:  6px;
	border-top-right-radius: 6px;
	/* border-bottom-left-radius: 6px; */
	/* border-bottom-right-radius: 6px; */
}
/* End tab styles */

.x-form-text, textarea.x-form-field {
    background-color: #fff;
    background-image: none;
    border-color: #C1C1C1;
}
.x-tab-panel-header, .x-tab-panel-footer {
    background-color: transparent;
}
.sm-home-title {
	background-image: url(../img/shield-green-check.svg);
	background-size: 48px 48px;
	background-position: 18px 12px;
	background-repeat: no-repeat;
	font: bold 36px Open Sans,helvetica, sans-serif;
	color: #333;
	padding-bottom: 30px;
	padding-left: 74px;
	padding-top: 12px;
}

#sm-home-oss-sprite {
	color: #fcfcfc;
	font: bold 10px Open Sans,helvetica, sans-serif;
	position: relative;
	top: -14px;
	background-color: #6f93db;
	padding: 1px 4px 2px 4px;
	border-radius:  3px;
	margin-left: 11px;
	user-select: none;
}
#sm-home-version-sprite {
	color: #fcfcfc;
	font: bold 10px Open Sans,helvetica, sans-serif;
	position:  relative;
	top: -14px;
	background-color: #569981;
	padding: 1px 4px 2px 4px;
	border-radius:  3px;
	margin-left: 5px;
	user-select: none;
}

.sm-main-tab-panels-common {
	border-radius: 6px;
	/* border-bottom-right-radius: 6px; */
	/* border-top-left-radius: 6px; */
}

ul.x-tab-strip-top {
    background-color: transparent;
    background-image: none;
    border-bottom-color: #cccccc;
    border-bottom-width: 3px;
}
body.x-body-masked .x-window-plain .x-window-mc {
    background-color: #f9f9f9;
}

td.x-grid3-hd-over, td.sort-desc, td.sort-asc, td.x-grid3-hd-menu-open {
    border-left-color: #eee;
    border-right-color: #d0d0d0;
}
.x-grid3-row {
    cursor: default;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
	width: 100%;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background-color:#f0f0f0;
    background-image:none;
}

.x-grid3-header{
    background-color:#f0f0f0;
	background-image:none;
}

.x-toolbar {
    border-color: #d0d0d0;
	background-color: #e5e5e5;
	background-image: none;
}


.sm-border-layout-ct {
	background-color: #fcfcfc;
}
.x-border-layout-ct {
	background-color: hsla(213, 14%, 40%, 1);
}


.sm-round-panel {
	border-radius: 6px;
	background-color: #fff;
	overflow: hidden;
}

.sm-round-panel .x-panel-header {
	background-color: #ccc;
	background-image: none;
	padding: 5px 3px 4px 8px;
} 

.sm-home-widget-body {
	background-color: #dedede;
	border-radius: 25px;
	border: 'none';
	margin: 10px;
	height: 400px;
}

.sm-home-widget-header {
	background-color: #d3d3d3;
}

.sm-home-widget-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 18px Open Sans, helvetica, sans-serif;
	color:#3366cc;
}

.sm-dialog-panel-title {
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 18px Open Sans, helvetica, sans-serif;
	color:#3366cc;
}

.sm-home-widget-subtitle {
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
	font: bold 14px Open Sans, helvetica, sans-serif;
	color:#3366cc;
}

.sm-home-widget-collectionName {
	font: bold 13px Open Sans, helvetica, sans-serif;
	color:#3366cc;
}

.sm-banner-unclassified {
	/* background-color: #0a9c00; */
	background-color: #007a33;
	color: #ffffff;
	height: 20px;
}

.sm-banner-confidential {
	background-color:#0033a0;
	color: #ffffff;
	height: 20px;
}

.sm-banner-secret {
	background-color: #c8102e;
	color: #ffffff;
	height: 20px;
}

.sm-banner-topsecret {
	background-color: #ff671f;
	color: #ffffff;
	height: 20px;
}
.sm-banner-sci {
	background-color: #f7ea48;
	color: #000000;
	height: 20px;
}

.sm-banner-body-text {
	text-align: center;
	font: bold 12px Open Sans, helvetica, sans-serif;
	padding-top: 1px;
}


/* Adjust position of the grid checkbox */
/* Required by SM.SelectingGridToolbar */
.x-grid3-row-selected-checkonly .x-grid3-row-checker {
	background-position: -22px 3px;
}
  
.sm-tree-node-create {
	font-style: italic
}
.sm-tree-node-collection-review {
	font-style: italic
}


.x-grid3-row.x-stigman-cross-department {
	opacity: 0.40
}

::-ms-clear { display: none; }

.hbss-control .x-grid3-hd-checker,.hbss-control .x-grid3-row-checker {
	background-image: url(../img/hbss-check-sprite.gif);
}
.assignment-grid-item-selected {
	font-weight: bold;
	background-color:#ffa0a0;
}

.icon-department
{
	background:url(../img/department-16.png) 0 no-repeat !important;
}
.icon-refresh
{
	background:url(../img/reload.svg);
	background-size: 16px 16px;
}
.icon-add 
{
	background:url(../img/add.svg);
	background-size: 16px 16px;
}
.icon-edit
{
	background:url(../img/edit.svg) 0 no-repeat !important;
}
.icon-del 
{
	background:url(../img/remove.svg);
	background-size: 16px 16px;
}
.icon-save
{
	background:url(../img/save.gif) 0 no-repeat !important;
}
.icon-new-window
{
	background:url(../img/new_window.gif) 0 no-repeat !important;
}
.icon-new-tab
{
	background:url(../img/new_tab.gif) 0 no-repeat !important;
}
.icon-icon-all
{
	background:url(../img/icon-all.gif) 0 no-repeat !important;
}
.icon-excel
{
	background:url(../img/excel-16.gif) 0 no-repeat !important;
}

.cs-home-header-top {
	font: bold 24px Open Sans, Open Sans, helvetica, sans-serif;
}
.sm-rule-content-header-top {
	font: bold 24px Open Sans, Open Sans, helvetica, sans-serif;
}

.cs-home-header-reviews {
	background-image: url(../img/security_firewall_on_48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}

.cs-section-five-o-eight {
	font: 9px Open Sans, Open Sans, helvetica, sans-serif;
	text-decoration: underline;
	cursor: pointer;
}

.cs-home-header-reports {
	background-image: url(../img/windows_table_48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}

.cs-home-header-admin {
	background-image: url(../img/Settings-icon-48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}


.cs-home-version {
	padding:10px;
	font: 10px Open Sans, Open Sans, helvetica, sans-serif;
}
.cs-home-header-sub {
	padding:20px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
}

.cs-home-body-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
	background-color: #eee;
	border-radius: 6px;
	color:#3366cc;
}
.cs-home-body-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	/* background-color:#DDD; */
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}
.cs-home-body-text pre {
	white-space: pre-wrap;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
}
.cs-home-body-table {
	width:100%;
	border-collapse: collapse;
}
.cs-home-body-table td{
	padding: 2px;
}
.sm-reviews-home-body-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
	color:#3366cc;
}
.sm-reviews-home-body-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}

.sm-reviews-home-tasks {
	background-color: #FF5F5F;
}
.sm-reviews-home-no-tasks {
	background-color: #BBE6B8;
}

.cs-home-body-text li {
	margin-top: 5px;
}

.sm-feedback-panel-active {
	background-color: #FF5F5F; /*#FF5F5F*/
}
.sm-feedback-panel-inactive {
	background-color: #FFFFFF;
}

.sm-feedback-body-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
	color:#3366cc;
}
.sm-feedback-body-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}

.sm-feedback-body-text li {
	margin-top: 5px;
}

.deferral-approval-trigger {
	background-image: url(../img/trigger2.png) !important;
}
  
.x-form-item {
	font: normal 11px Open Sans, Open Sans, helvetica, sans-serif;
}

.x-form-field {
	font: normal 11px Open Sans, Open Sans, helvetica, sans-serif;
}

.sm-manual-grid-item {
	background-color: rgb(255,255,255);
}

.sm-manual-grid-item.x-grid3-row-over {
	background-color: #efefef;
}

.sm-grid3-row-red {
    background-color:#ffa0a0;
}
.sm-grid3-row-grey {
    background-color:#DDDDDD;
}
.sm-grid3-row-orange {
    background-color:#ffcc99;
}
.sm-grid3-row-green {
    background-color:#BBE6B8;
}
.sm-grid3-row-black td {
    background-color:#0f0f0f;
	color: white !important;
}
.sm-grid3-row-error td {
    color: #FF4747 !important;
}
.sm-grid3-row-italic td{
    color: #FF4747 !important;
}
.x-grid3-row-over {
	border-color:#ddd;
    background-color:#efefef;
    background-image:none;
}

.sm-add-icon {
 background-image: url(../img/icons8-add-16.png) !important;
}
.sm-disc-drive {
	background-image: url(../img/disc_drive.png) !important;
}
.sm-internet-search {
 background-image: url(../img/internet_search.png) !important;
}
.sm-search-icon {
 background-image: url(../img/search.png) !important;
}
.sm-filter-icon {
 background-image: url(../img/filter.svg);
 background-size: 12px 12px;
}
.sm-control-panel {
 background-image: url(../img/control_panel.png) !important;
}
.sm-checklist-icon {
  background-image: url(../img/shield-green-check.svg) !important;
 }
.sm-checklist-tab-icon {
  background-image: url(../img/shield-green-check.svg) !important;
 }
 .sm-setting-icon {
 background-image: url(../img/gear.svg) !important;
}
.sm-export-icon {
 background-image: url(../img/download.svg);
 background-size:  16px 16px;
}
.sm-import-icon {
 background-image: url(../img/upload.svg);
 background-size:  16px 16px;
}
.sm-asset-icon {
 background-image: url(../img/target.svg) !important;
 background-repeat: no-repeat;
 background-size: 16px 16px;
}
.sm-template-icon {
 background-image: url(../img/template.png) !important;
}
.sm-collection-icon {
 background-image: url(../img/collection.svg) !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.sm-collection-tab-icon {
  background-image: url(../img/collection.svg) !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}   
.sm-department-icon {
 background-image: url(../img/department-16.png) !important;
}
.sm-users-icon {
  background-image: url(../img/user.svg) !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
} 
.sm-stig-icon {
  background-image: url(../img/shield-green-check.svg) !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
 .sm-report-icon {
 background-image: url(../img/grid.svg) !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.sm-chat-icon {
 background-image: url(../img/chat-16.png) !important;
}
.sm-newchat-icon {
 background-image: url(../img/message_edit.png) !important;
}
.sm-unackchat-icon {
 background-image: url(../img/message_edit.png) !important;
}
.sm-ackchat-icon {
 background-image: url(../img/message_edit.png) !important;
}
.sm-feedback-icon {
 background-image: url(../img/feedback-16.gif) !important;
}
.sm-feedback-ack-icon {
 background-image: url(../img/feedback-ack-16.gif) !important;
}
.sm-feedback-unack-icon {
 background-image: url(../img/feedback-unack-16.gif) !important;
}
.sm-artifact-icon {
 background-image: url(../img/page_white_text.png) !important;
}
.sm-note-icon {
 background-image: url(../img/note-16.png) !important;
}
.sm-lock-icon {
 background-image: url(../img/lock-16.png) !important;
}
.sm-assign-icon {
 background-image: url(../img/right-arrow-16.png) !important;
}
.sm-unlock-icon {
 background-image: url(../img/unlock-16.png) !important;
}
.sm-ready-icon {
 background-image: url(../img/ready-16.png) !important;
}
.sm-ready-flip-icon {
 background-image: url(../img/ready-flip-16.png) !important;
}
.sm-rejected-icon {
 background-image: url(../img/rejected-16.png) !important;
}
.x-btn-pressed.sm-lock-icon {
 background-image: url(../img/lock-16.png) !important;
}
.sm-save-icon {
 background-image: url(../img/save-16.png) !important;
}
.sm-database-save-icon {
 background-image: url(../img/database.svg) !important;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.sm-database-icon {
 background-image: url(../img/database.png) !important;
}
.sm-table-icon {
 background-image: url(../img/table.png) !important;
}
.sm-page-edit-icon {
 background-image: url(../img/page_edit.png) !important;
}
.sm-page-white-get-icon {
 background-image: url(../img/page_white_get.png) !important;
}
.sm-page-white-put-icon {
 background-image: url(../img/page_white_put.png) !important;
}
.sm-hbss-disabled-icon {
	background-image: url(../img/hbss-check-sprite.gif);
	background-position: -23px 0px;
	background-repeat: no-repeat;
}	
.sm-hbss-enabled-icon {
	background-image: url(../img/hbss-check-sprite.gif);
	background-position: 2px 0px;
	background-repeat: no-repeat;
}
.sm-application-go-icon {
 background-image: url(../img/application_go.png) !important;
}
.sm-list-remove-16-icon {
    background-image: url(../img/list-remove-16.png); 
}
.sm-scan-assign-icon {
    background-image: url(../img/greencheckt.gif); 
}
.x-item-disabled .sm-scan-assign-icon {
    background-image: url(../img/greycheckt.gif); 
}
.sm-scan-unassign-icon {
    background-image: url(../img/greydash.gif); 
}
.sm-scan-toggleAssign-icon {
    background-image: url(../img/icon-all.gif); 
}
.sm-zip-icon {
    background-image: url(../img/compress.png); 
}
	
.sm-scap-grid-item {
	background-color: hsl(120, 40%, 92%);
}
/* .sm-scap-grid-item {
	background-color: #FBEB9D;
} */
.sm-scap-grid-item.x-grid3-row-over {
	background-color: hsla(120, 30%, 89%, 1);
}

.sm-scap-grid-item.x-grid3-row-selected  {
    background-color:hsla(120, 20%, 84%, 1) !important;
/*	border: 1px dotted;
	border-color: #A3BAE9;*/
}

.sm-cell-red {
    background-color:#ffa0a0;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-red {
/*     background-color:#EFC4CB !important; */
       filter: brightness(85%);
}
.x-grid3-row-over .sm-cell-red {
    background-color:#F7C8C8 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-red {
/*     background-color:#EFC4CB !important; */
        filter: brightness(85%);

}


.sm-cell-orange {
    background-color:#ffcc99;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-orange {
/*     background-color:#EFDAC8 !important; */
            filter: brightness(85%);

}
.x-grid3-row-over .sm-cell-orange {
    background-color:#F7DEC4 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-orange {
/*     background-color:#EFDAC8 !important; */
    filter: brightness(85%);
}

.sm-cell-green {
    background-color:#BBE6B8;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-green {
    /* background-color:#CDE7D7 !important; */
    filter: brightness(85%);
}
.x-grid3-row-over .sm-cell-green {
    background-color:#D5EBD4 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-green {
/*     background-color:#CDE7D7 !important; */
    filter: brightness(85%);
}

.sm-cell-grey {
    background-color:#DDDDDD;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-grey {
/*     background-color:#dfe8f6 !important; */
    filter: brightness(85%);
}

.sm-cell-purple {
    background-color:#DDA0DD;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-purple {
/*     background-color:#DEC4EA !important; */
    filter: brightness(85%);
}
.x-grid3-row-over .sm-cell-purple {
    background-color:#E6C8E6 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-purple {
/*     background-color:#DEC4EA !important; */
    filter: brightness(85%);
}


.sm-cell-peach {
	background-color: #FBEB9D;
}



.sm-cell-status {
    background-color:#CCCCFF;
	border-left: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-status {
	filter: brightness(85%);
/*     background-color:#D6DAFB !important;
	border-right: 2px solid white; */
}
.x-grid3-row-over .sm-cell-status {
    background-color:#DEDEF7 !important;
	border-left: 1px solid white;
}

.sm-cell-checklist {
	background-image: url(../img/security_firewall_on.png);
	background-repeat: no-repeat;
	padding-left: 14px !important;
}
.sm-cell-asset {
	background-image: url(../img/target.svg);
	background-repeat: no-repeat;
	background-position: 1px 2px;
	padding-left: 14px !important;
}
.sm-cell-template {
	background-image: url(../img/template.png);
	background-repeat: no-repeat;
	padding-left: 14px !important;
}
.custom-stig-users .x-grid3-row-selected .x-grid3-cell-last { 
    background-image: url(../img/User-Group-icon.png); 
    background-position: left; 
    background-repeat: no-repeat; 
}

.sm-artifact-download-icon {
    background-image: url(../img/download-16.png); 
}
.sm-artifact-edit-icon {
    background-image: url(../img/edit-16.png); 
}


.x-grid3-row-over .artifact-download { 
    background-image: url(../img/download-16.png); 
    background-size: 14px 14px;
    background-position: 2px 5px; 
    background-repeat: no-repeat; 
}
.x-grid3-row-over .artifact-edit { 
    background-image: url(../img/edit-16.png); 
    background-size: 14px 14px;
    background-position: 2px 5px; 
    background-repeat: no-repeat; 
}
.x-grid3-row-over .artifact-delete { 
    background-image: url(../img/delete.png);
    background-size: 14px 14px;
    background-position: 2px 5px; 
    background-repeat: no-repeat; 
}

.x-grid3-row-over .artifact-download :active { 
    background-image: url(../img/download-16.png); 
    background-size: 14px 14px;
    background-position: 4px 10px; 
    background-repeat: no-repeat; 
}
.x-grid3-row-over .artifact-download:active { 
    background-image: url(../img/download-16.png); 
    background-size: 14px 14px;
    background-position: 4px 10px; 
    background-repeat: no-repeat; 
}

.sm-reviews-home-background {
	background-color: #ffffff;
}

#artifact-admin .x-grid3-row td {line-height: 25px;} 
.artifact-grid .x-grid3-row td {line-height: 25px;} 




.sm-background-blue {
	/*background-color:#99bbe8 !important;*/
	background-color: #eee !important;
}

.sm-artifact-file-icon {
	position: relative;
	top: 3px;
	margin-right: 5px;
}

/* START GroupSummary extension. Provided CSS breaks x-grid3-cell-first */
.x-grid3-summary-row {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    color:#333;
    background: #f1f2f4;
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight:bold;
    padding-bottom:4px;
}
.x-grid-hide-summary .x-grid3-summary-row {
    display:none;
}
.x-grid3-summary-msg {
    padding:4px 16px;
    font-weight:bold;
}
/* END GroupSummary extension. Provided CSS breaks x-grid3-cell-first */

/* textarea[readonly] { color:blue; }
input[readonly] { color:blue; }*
 */

.sm-review-result-textarea[disabled] {
	color: black;
	opacity: 1;
	filter: alpha(opacity=100);
	background: none;
}
.sm-review-action-textarea[disabled] {
	color: black;
	opacity: 1;
	filter: alpha(opacity=100);
	background: none;
}

/* .x-form-textarea.x-item-disabled {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

.x-form-item-label .x-item-disabled {
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity=80);
} */

.cs-home-header-nessus {
	background-image: url(../img/nessus_48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}

.sm-nessus-severity-4-grid-row {
	background-color: #FF99FF;
	border-color: #DDC0E6;
	border-top: 0px;
}

.sm-nessus-severity-3-grid-row {
	background-color: #FFCACA;
	border-color: #E6B6B6;
	border-top: 0px;
}

.sm-nessus-severity-2-grid-row {
	background-color: #FFD4AA;
	border-color: #E6BF99;
	border-top: 0px;
}

.sm-nessus-severity-1-grid-row {
	background-color:#B8D4FF;
	border-color: #A6BFE6;
	border-top: 0px;
}

.sm-nessus-severity-0-grid-row {
	background-color: #BBF0C6;
	border-color: #BBF0C6;
	border-top: 0px;
}

.sm-nessus-16-icon {
 background-image: url(../img/nessus_16.png) !important;
}
.sm-nessus-48-icon {
 background-image: url(../img/nessus_48.png) !important;
}

.sm-progress-textarea {
   font-size: 8pt;
   font-family: Consolas,Courier;
}


.cs-grid3-row-overdue {
    background-color:#ffa0a0;
	border-top-color:#ffa0a0;
}
.x-grid3-row-over.cs-grid3-row-overdue {
	background: repeat;
    background-color:#ffd1d1 !important;
}
.x-grid3-row-selected.cs-grid3-row-overdue {
    background-color:#EFC4CB !important;
	border: 1px dashed #e63333;
}

 
.cs-grid3-row-new-overdue{
	background-color:#DDA0DD;
	border-top-color:#DDA0DD;
}
.x-grid3-row-over.cs-grid3-row-new-overdue {
	background: repeat;
    background-color:#ebc7eb !important;
}
.x-grid3-row-selected.cs-grid3-row-new-overdue {
    background-color:#DEC4EA !important;
	border: 1px dashed #c256c2;
}


.cs-grid3-row-warning {
    background-color:#ffcc99;
	border-top-color:#ffcc99;
}
.x-grid3-row-over.cs-grid3-row-warning {
	background: repeat;
    background-color:#ffe6cc !important;
}
.x-grid3-row-selected.cs-grid3-row-warning {
    background-color:#EFDAC8 !important;
	border: 1px dashed #ff9e3d;
}

.cs-grid3-row-pending {
    background-color:#7ED89B;
	border-top-color:#7ED89B;
}
.x-grid3-row-over.cs-grid3-row-pending {
	background: repeat;
    background-color:#b4e9c5 !important;
}
.x-grid3-row-selected.cs-grid3-row-pending {
    background-color:#CDE7D7 !important;
	border: 1px dashed #2f9d52;
}

.sm-combo-loading {
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: 2px 1px;
	text-indent: 20px;
}

.sm-context-menu {
	background-image: none;	
}
/* 
.sm-context-menu a.x-menu-item  {
	padding-top: 0px;
	padding-bottom: 0px;
}
 */
/* 
.sm-context-menu .x-menu-item-icon  {
	top: 0px;
}
 */
 
.sm-context-menu .x-menu li.x-menu-sep-li {
	padding: 0px;
}



.sm-context-menu-header {
    background-color: #d5e4f5;
    border: 1px solid #99bbe8;
    padding-left: 8px;
    font-style: italic;
    font-weight: bold;
}

/* Hacks for better(?) UI */
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio {
    margin-top: 0px;
}

.ext-chrome .x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio {
    margin-top: 3px;
}

.ext-chrome .x-toolbar-cell .x-form-cb-label {
    vertical-align: bottom;
    top: -1px;
}

/* vertically aligns text in comboboxes for IE11 */
.ext-strict .x-small-editor .x-form-text {
	line-height: 18px;
}


/* FONTS */
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('../fonts/open-sans-v15-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('../fonts/open-sans-v15-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../fonts/open-sans-v15-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

