.sm-tree-node-create {
	font-style: italic
}

.x-grid3-row.x-stigman-cross-department {
	opacity: 0.40
}

::-ms-clear { display: none; }

.hbss-control .x-grid3-hd-checker,.hbss-control .x-grid3-row-checker {
	background-image: url(../img/hbss-check-sprite.gif);
}
.assignment-grid-item-selected {
	font-weight: bold;
	background-color:#ffa0a0;
}

.icon-department
{
	background:url(../img/department-16.png) 0 no-repeat !important;
}
.icon-refresh
{
	background:url(../img/refresh.gif) 0 no-repeat !important;
}
.icon-add 
{
	background:url(../img/add.png) 0 no-repeat !important;
}
.icon-edit
{
	background:url(../img/edit-16.png) 0 no-repeat !important;
}
.icon-del 
{
	background:url(../img/delete.png) 0 no-repeat !important;

}
.icon-save
{
	background:url(../img/save.gif) 0 no-repeat !important;
}
.icon-new-window
{
	background:url(../img/new_window.gif) 0 no-repeat !important;
}
.icon-new-tab
{
	background:url(../img/new_tab.gif) 0 no-repeat !important;
}
.icon-icon-all
{
	background:url(../img/icon-all.gif) 0 no-repeat !important;
}
.icon-excel
{
	background:url(../img/excel-16.gif) 0 no-repeat !important;
}

#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: #aaa;
}

#loading {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 100px;
  margin-left: -125px;
  margin-top: -50px;
  background-color: #fff;
  z-index: 20001;
}

#loading .loading-indicator {
  background: url("../img/extanim32.gif") no-repeat;
  background-position: center top;
  color:      #555;
  font:       bold 13px Open Sans,Open Sans,helvetica;
  padding:    42px 0px;
  margin:     0;
  text-align: center;
  height:     auto;
}

.cs-home-header-top {
	font: bold 24px Open Sans, Open Sans, helvetica, sans-serif;
}
.sm-rule-content-header-top {
	font: bold 24px Open Sans, Open Sans, helvetica, sans-serif;
}

.cs-home-header-reviews {
	background-image: url(../img/security_firewall_on_48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}

.cs-section-five-o-eight {
	font: 9px Open Sans, Open Sans, helvetica, sans-serif;
	text-decoration: underline;
	cursor: pointer;
}

.cs-home-header-reports {
	background-image: url(../img/windows_table_48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}

.cs-home-header-admin {
	background-image: url(../img/Settings-icon-48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}


.cs-home-version {
	padding:10px;
	font: 10px Open Sans, Open Sans, helvetica, sans-serif;
}
.cs-home-header-sub {
	padding:20px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
}

.cs-home-body-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
	background-color:#DDD;
	color:#3366cc;
}
.cs-home-body-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	background-color:#DDD;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}
.cs-home-body-text pre {
	white-space: pre-wrap;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
}
.cs-home-body-table {
	width:100%;
	border-collapse: collapse;
}
.cs-home-body-table td{
	padding: 2px;
}
.sm-reviews-home-body-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
	color:#3366cc;
}
.sm-reviews-home-body-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}

.sm-reviews-home-tasks {
	background-color: #FF5F5F;
}
.sm-reviews-home-no-tasks {
	background-color: #BBE6B8;
}

.cs-home-body-text li {
	margin-top: 5px;
}

.sm-feedback-panel-active {
	background-color: #FF5F5F; /*#FF5F5F*/
}
.sm-feedback-panel-inactive {
	background-color: #FFFFFF;
}

.sm-feedback-body-title {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: bold 14px Open Sans, Open Sans, helvetica, sans-serif;
	color:#3366cc;
}
.sm-feedback-body-text {
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	font: 11px Open Sans, Open Sans, helvetica, sans-serif;
	color:#000000;
	word-wrap: break-word;
}

.sm-feedback-body-text li {
	margin-top: 5px;
}

.deferral-approval-trigger {
	background-image: url(../img/trigger2.png) !important;
}
  
.x-form-item {
	font: normal 11px Open Sans, Open Sans, helvetica, sans-serif;
}

.x-form-field {
	font: normal 11px Open Sans, Open Sans, helvetica, sans-serif;
}

.sm-manual-grid-item {
	background-color: rgb(255,255,255);
}

.sm-manual-grid-item.x-grid3-row-over {
	background-color: #efefef;
}

.sm-grid3-row-red {
    background-color:#ffa0a0;
}
.sm-grid3-row-grey {
    background-color:#DDDDDD;
}
.sm-grid3-row-orange {
    background-color:#ffcc99;
}
.sm-grid3-row-green {
    background-color:#BBE6B8;
}
.sm-grid3-row-black td {
    background-color:#0f0f0f;
	color: white !important;
}
.sm-grid3-row-error td {
    color: #FF4747 !important;
}
.sm-grid3-row-italic td{
    color: #FF4747 !important;
}
.x-grid3-row-over {
	border-color:#ddd;
    background-color:#efefef;
    background-image:none;
}

.sm-add-icon {
 background-image: url(../img/icons8-add-16.png) !important;
}
.sm-disc-drive {
	background-image: url(../img/disc_drive.png) !important;
}
.sm-internet-search {
 background-image: url(../img/internet_search.png) !important;
}
.sm-search-icon {
 background-image: url(../img/search.png) !important;
}
.sm-filter-icon {
 background-image: url(../img/filter.png) !important;
}
.sm-control-panel {
 background-image: url(../img/control_panel.png) !important;
}
.sm-checklist-icon {
 background-image: url(../img/security_firewall_on.png) !important;
}
.sm-setting-icon {
 background-image: url(../img/Settings-icon-16.png) !important;
}
.sm-export-icon {
 background-image: url(../img/down-icon-16.png) !important;
}
.sm-import-icon {
 background-image: url(../img/up-icon-16.png) !important;
}
.sm-asset-icon {
 background-image: url(../img/accuracy-16.png) !important;
}
.sm-template-icon {
 background-image: url(../img/template.png) !important;
}
.sm-package-icon {
 background-image: url(../img/package.png) !important;
}
.sm-department-icon {
 background-image: url(../img/department-16.png) !important;
}
.sm-users-icon {
	background-image: url(../img/User-Group-icon.png) !important;
} 
.sm-stig-icon {
 background-image: url(../img/security_firewall_on.png) !important;
}
.sm-report-icon {
 background-image: url(../img/windows_table.png) !important;
}
.sm-chat-icon {
 background-image: url(../img/chat-16.png) !important;
}
.sm-newchat-icon {
 background-image: url(../img/message_edit.png) !important;
}
.sm-unackchat-icon {
 background-image: url(../img/message_edit.png) !important;
}
.sm-ackchat-icon {
 background-image: url(../img/message_edit.png) !important;
}
.sm-feedback-icon {
 background-image: url(../img/feedback-16.gif) !important;
}
.sm-feedback-ack-icon {
 background-image: url(../img/feedback-ack-16.gif) !important;
}
.sm-feedback-unack-icon {
 background-image: url(../img/feedback-unack-16.gif) !important;
}
.sm-artifact-icon {
 background-image: url(../img/page_white_text.png) !important;
}
.sm-note-icon {
 background-image: url(../img/note-16.png) !important;
}
.sm-lock-icon {
 background-image: url(../img/lock-16.png) !important;
}
.sm-assign-icon {
 background-image: url(../img/right-arrow-16.png) !important;
}
.sm-unlock-icon {
 background-image: url(../img/unlock-16.png) !important;
}
.sm-ready-icon {
 background-image: url(../img/ready-16.png) !important;
}
.sm-ready-flip-icon {
 background-image: url(../img/ready-flip-16.png) !important;
}
.sm-rejected-icon {
 background-image: url(../img/rejected-16.png) !important;
}
.x-btn-pressed.sm-lock-icon {
 background-image: url(../img/lock-16.png) !important;
}
.sm-save-icon {
 background-image: url(../img/save-16.png) !important;
}
.sm-database-save-icon {
 background-image: url(../img/database_save.png) !important;
}
.sm-database-icon {
 background-image: url(../img/database.png) !important;
}
.sm-table-icon {
 background-image: url(../img/table.png) !important;
}
.sm-page-edit-icon {
 background-image: url(../img/page_edit.png) !important;
}
.sm-page-white-get-icon {
 background-image: url(../img/page_white_get.png) !important;
}
.sm-page-white-put-icon {
 background-image: url(../img/page_white_put.png) !important;
}
.sm-hbss-disabled-icon {
	background-image: url(../img/hbss-check-sprite.gif);
	background-position: -23px 0px;
	background-repeat: no-repeat;
}	
.sm-hbss-enabled-icon {
	background-image: url(../img/hbss-check-sprite.gif);
	background-position: 2px 0px;
	background-repeat: no-repeat;
}
.sm-application-go-icon {
 background-image: url(../img/application_go.png) !important;
}
.sm-list-remove-16-icon {
    background-image: url(../img/list-remove-16.png); 
}
.sm-scan-assign-icon {
    background-image: url(../img/greencheckt.gif); 
}
.x-item-disabled .sm-scan-assign-icon {
    background-image: url(../img/greycheckt.gif); 
}
.sm-scan-unassign-icon {
    background-image: url(../img/greydash.gif); 
}
.sm-scan-toggleAssign-icon {
    background-image: url(../img/icon-all.gif); 
}
.sm-zip-icon {
    background-image: url(../img/compress.png); 
}
	
.sm-scap-grid-item {
	background-color: #FBEB9D;
}
.sm-scap-grid-item.x-grid3-row-over {
	background-color: #efefef;
}

.sm-scap-grid-item.x-grid3-row-selected  {
    background-color:#CDC080 !important;
/*	border: 1px dotted;
	border-color: #A3BAE9;*/
}
.sm-scap-grid-item.x-grid3-row-over  {
    background-color:#F5EDC6;
/*	border: 1px dotted;
	border-color: #A3BAE9;*/
}

.sm-cell-red {
    background-color:#ffa0a0;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-red {
    background-color:#EFC4CB !important;
}
.x-grid3-row-over .sm-cell-red {
    background-color:#F7C8C8 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-red {
    background-color:#EFC4CB !important;
}


.sm-cell-orange {
    background-color:#ffcc99;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-orange {
    background-color:#EFDAC8 !important;
}
.x-grid3-row-over .sm-cell-orange {
    background-color:#F7DEC4 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-orange {
    background-color:#EFDAC8 !important;
}

.sm-cell-green {
    background-color:#BBE6B8;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-green {
    background-color:#CDE7D7 !important;
}
.x-grid3-row-over .sm-cell-green {
    background-color:#D5EBD4 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-green {
    background-color:#CDE7D7 !important;
}

.sm-cell-grey {
    background-color:#DDDDDD;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-grey {
    background-color:#dfe8f6 !important;
}

.sm-cell-purple {
    background-color:#DDA0DD;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-purple {
    background-color:#DEC4EA !important;
}
.x-grid3-row-over .sm-cell-purple {
    background-color:#E6C8E6 !important;
}
.x-grid3-row-selected.sm-grid3-row-error .sm-cell-purple {
    background-color:#DEC4EA !important;
}


.sm-cell-peach {
	background-color: #FBEB9D;
}



.sm-cell-status {
    background-color:#CCCCFF;
	border-left: 1px solid white;
	border-left: 1px solid white;
}
.x-grid3-row-selected .sm-cell-status {
    background-color:#D6DAFB !important;
	border-right: 2px solid white;
}
.x-grid3-row-over .sm-cell-status {
    background-color:#DEDEF7 !important;
	border-right: 2px solid white;
}

.sm-cell-checklist {
	background-image: url(../img/security_firewall_on.png);
	background-repeat: no-repeat;
	padding-left: 14px !important;
}
.sm-cell-asset {
	background-image: url(../img/accuracy-16.png);
	background-repeat: no-repeat;
	background-position: 1px 2px;
	padding-left: 14px !important;
}
.sm-cell-template {
	background-image: url(../img/template.png);
	background-repeat: no-repeat;
	padding-left: 14px !important;
}
.custom-stig-users .x-grid3-row-selected .x-grid3-cell-last { 
    background-image: url(../img/User-Group-icon.png); 
    background-position: left; 
    background-repeat: no-repeat; 
}

.sm-artifact-download-icon {
    background-image: url(../img/download-16.png); 
}
.sm-artifact-edit-icon {
    background-image: url(../img/edit-16.png); 
}


.x-grid3-row-over .artifact-download { 
    background-image: url(../img/download-16.png); 
    background-size: 14px 14px;
    background-position: 2px 5px; 
    background-repeat: no-repeat; 
}
.x-grid3-row-over .artifact-edit { 
    background-image: url(../img/edit-16.png); 
    background-size: 14px 14px;
    background-position: 2px 5px; 
    background-repeat: no-repeat; 
}
.x-grid3-row-over .artifact-delete { 
    background-image: url(../img/delete.png);
    background-size: 14px 14px;
    background-position: 2px 5px; 
    background-repeat: no-repeat; 
}

.x-grid3-row-over .artifact-download :active { 
    background-image: url(../img/download-16.png); 
    background-size: 14px 14px;
    background-position: 4px 10px; 
    background-repeat: no-repeat; 
}
.x-grid3-row-over .artifact-download:active { 
    background-image: url(../img/download-16.png); 
    background-size: 14px 14px;
    background-position: 4px 10px; 
    background-repeat: no-repeat; 
}

.sm-reviews-home-background {
	background-color: #ffffff;
}

#artifact-admin .x-grid3-row td {line-height: 25px;} 
.artifact-grid .x-grid3-row td {line-height: 25px;} 




.sm-background-blue {
	/*background-color:#99bbe8 !important;*/
<<<<<<< Updated upstream
	background-color: #f1f1f1 !important
=======
	background-color: #eee !important;
>>>>>>> Stashed changes
}

.sm-artifact-file-icon {
	position: relative;
	top: 3px;
	margin-right: 5px;
}

/* START GroupSummary extension. Provided CSS breaks x-grid3-cell-first */
.x-grid3-summary-row {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    color:#333;
    background: #f1f2f4;
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight:bold;
    padding-bottom:4px;
}
.x-grid-hide-summary .x-grid3-summary-row {
    display:none;
}
.x-grid3-summary-msg {
    padding:4px 16px;
    font-weight:bold;
}
/* END GroupSummary extension. Provided CSS breaks x-grid3-cell-first */

/* textarea[readonly] { color:blue; }
input[readonly] { color:blue; }*
 */

.sm-review-result-textarea[disabled] {
	color: black;
	opacity: 0.8;
    filter: alpha(opacity=80);
	background: none;
}
.sm-review-action-textarea[disabled] {
	color: black;
	opacity: 0.8;
    filter: alpha(opacity=80);
	background: none;
}
.sm-enhanced-disable-textarea[disabled] {
	color: black;
	opacity: 0.8;
    filter: alpha(opacity=80);
	background: none;
}

/* .x-form-textarea.x-item-disabled {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

.x-form-item-label .x-item-disabled {
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity=80);
} */

.cs-home-header-nessus {
	background-image: url(../img/nessus_48.png);
	background-position: left top;
	background-repeat: no-repeat;
	font: bold 28px Open Sans, Open Sans, helvetica, sans-serif;
	padding-bottom:40px;
	padding-left: 56px;
	padding-top: 8px;
}

.sm-nessus-severity-4-grid-row {
	background-color: #FF99FF;
	border-color: #DDC0E6;
	border-top: 0px;
}

.sm-nessus-severity-3-grid-row {
	background-color: #FFCACA;
	border-color: #E6B6B6;
	border-top: 0px;
}

.sm-nessus-severity-2-grid-row {
	background-color: #FFD4AA;
	border-color: #E6BF99;
	border-top: 0px;
}

.sm-nessus-severity-1-grid-row {
	background-color:#B8D4FF;
	border-color: #A6BFE6;
	border-top: 0px;
}

.sm-nessus-severity-0-grid-row {
	background-color: #BBF0C6;
	border-color: #BBF0C6;
	border-top: 0px;
}

.sm-nessus-16-icon {
 background-image: url(../img/nessus_16.png) !important;
}
.sm-nessus-48-icon {
 background-image: url(../img/nessus_48.png) !important;
}

.sm-progress-textarea {
   font-size: 8pt;
   font-family: Consolas,Courier;
}


.cs-grid3-row-overdue {
    background-color:#ffa0a0;
	border-top-color:#ffa0a0;
}
.x-grid3-row-over.cs-grid3-row-overdue {
	background: repeat;
    background-color:#ffd1d1 !important;
}
.x-grid3-row-selected.cs-grid3-row-overdue {
    background-color:#EFC4CB !important;
	border: 1px dashed #e63333;
}

 
.cs-grid3-row-new-overdue{
	background-color:#DDA0DD;
	border-top-color:#DDA0DD;
}
.x-grid3-row-over.cs-grid3-row-new-overdue {
	background: repeat;
    background-color:#ebc7eb !important;
}
.x-grid3-row-selected.cs-grid3-row-new-overdue {
    background-color:#DEC4EA !important;
	border: 1px dashed #c256c2;
}


.cs-grid3-row-warning {
    background-color:#ffcc99;
	border-top-color:#ffcc99;
}
.x-grid3-row-over.cs-grid3-row-warning {
	background: repeat;
    background-color:#ffe6cc !important;
}
.x-grid3-row-selected.cs-grid3-row-warning {
    background-color:#EFDAC8 !important;
	border: 1px dashed #ff9e3d;
}

.cs-grid3-row-pending {
    background-color:#7ED89B;
	border-top-color:#7ED89B;
}
.x-grid3-row-over.cs-grid3-row-pending {
	background: repeat;
    background-color:#b4e9c5 !important;
}
.x-grid3-row-selected.cs-grid3-row-pending {
    background-color:#CDE7D7 !important;
	border: 1px dashed #2f9d52;
}

.sm-combo-loading {
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: 2px 1px;
	text-indent: 20px;
}

.sm-context-menu {
	background-image: none;	
}
/* 
.sm-context-menu a.x-menu-item  {
	padding-top: 0px;
	padding-bottom: 0px;
}
 */
/* 
.sm-context-menu .x-menu-item-icon  {
	top: 0px;
}
 */
 
.sm-context-menu .x-menu li.x-menu-sep-li {
	padding: 0px;
}



.sm-context-menu-header {
    background-color: #d5e4f5;
    border: 1px solid #99bbe8;
    padding-left: 8px;
    font-style: italic;
    font-weight: bold;
}

/* Hacks for better(?) UI */
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio {
    margin-top: 0px;
}

.ext-chrome .x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio {
    margin-top: 3px;
}

.ext-chrome .x-toolbar-cell .x-form-cb-label {
    vertical-align: bottom;
    top: -1px;
}

/* vertically aligns text in comboboxes for IE11 */
.ext-strict .x-small-editor .x-form-text {
	line-height: 18px;
}


/* FONTS */
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('../fonts/open-sans-v15-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('../fonts/open-sans-v15-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../fonts/open-sans-v15-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

