
// This file is usually served dynamically by the API service, which
// sets values according the its configuraion. If you are serving the
// client from a detached distribution (not recommended), you will
// need to edit this file yourself and rename it to "Env.js".

const STIGMAN = {
  Env: {
    version: "1.1.0",
    apiBase: "/api",
    welcome: {
      image: "",
      title: "",
      message: "",
      link: ""
    },
    commit: {
        branch: "na",
        sha: "na",
        tag: "na",
        describe: "na"
    },
    oauth: {
        authority:  "http://localhost:8080/auth/realms/stigman",
        clientId: "stig-manager",
        refreshToken: {
          disabled: false
        },
        extraScopes: "",
        scopePrefix: "",
        claims: {
          scope: "scope",
          username: "preferred_username",
          servicename: "clientId",
          name: "name",
          privileges: "['realm_access']?.['roles']",
          email: "email"
        }
    }
  }
}    
