Ext.ns('STIGMAN')

STIGMAN.Env = {
    version: "${STIGMAN_VERSION}" || "1",
    apiBase: "${STIGMAN_CLIENT_API_BASE}" || "../api",
    commit: {
        branch: "${COMMIT_BRANCH}" || "na",
        sha: "${COMMIT_SHA}" || "na",
        tag: "${COMMIT_TAG}" || "na",
        describe: "${COMMIT_DESCRIBE}" || "na"
    },
    oauth: {
        claims: {
            username: "${STIGMAN_JWT_USERNAME_CLAIM}" || "preferred_username",
            servicename: "${STIGMAN_JWT_SERVICENAME_CLAIM}" || "clientId",
            name: "${STIGMAN_JWT_NAME_CLAIM}" || "name",
            roles: "${STIGMAN_JWT_ROLES_CLAIM}" || "realm_access?.roles",
            email: "${STIGMAN_JWT_EMAIL_CLAIM}" || "email"
        }
    }
}
